@font-face {
  font-family: 'Cuprum';
  font-display: swap;
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  font-display: swap;
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  font-display: swap;
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  font-display: swap;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Cuprum';
  font-size: 17px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  line-height: 18px;
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
}

/* ШАПКА */

a {
  text-decoration: none;
}

.main-header-form {
  height: 100%;
}

.main-wrapper {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.main-header {
  display: flex;
  background-color: #f4f7f9;
  justify-content: center;
  flex-direction: column;
}

.main-header-navigation,
.main-header-wrap,
.main-navigation {
  margin: 0 auto;
  display: flex;
  width: 940px;
}

.main-header a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header-wrapper {

  display: flex;
  height: 42px;
  background-color: #293449;
  align-items: center;
}

.main-header-wrap {
  display: flex;
  min-height: 158px;
}

.site-navigation {
  display: flex;
  width: 940px;
  height: 60px;
  align-items: center;
  box-shadow: inset 0px -5px 0 0 #293449;

}


.main-header-list,
.user-navigation,
.site-navigation,
.main-footer-navigation-list,
.main-footer-categories-list,
.main-footer-social-list {
  margin: 0;
  padding: 0;
  color: #fff;
  list-style: none;
}

.main-header-list {
  display: flex;
  align-items: center;
  width: 100%;
}

.main-header-item:nth-child(2) {
  margin-left: auto;
}

.main-header-item-link {
  padding-left: 16px;
  height: 42px;
  position: relative;
}

.main-header-item:last-child a {
  padding-left: 0;
}

.main-header-label {
  position: relative;
}

.main-header-label svg {
  top: 0px;
  left: 16px;
  position: absolute;
  fill: rgba(255, 255, 255, 0.3);
}

.main-header-input:hover::placeholder {
  color: #ffffff;
}

.main-header-input:hover+svg {
  fill: #ffffff;
}

.main-header-input:focus+svg {
  fill: #ee3643;
}

.main-header-input:focus::placeholder {
  color: #000000;
}

.main-header-item-link svg {
  left: 18px;
  top: 12px;
  position: absolute;
  fill: rgba(255, 255, 255, 0.3);
}

.main-header-item-link:hover svg {
  fill: rgba(255, 255, 255, 1);
}

.main-header-list a,
.site-navigation a {
  color: #fff;
}


.main-header-list a {
  line-height: 18px;
}

.user-navigation {
  margin-top: 46px;
  display: flex;
  justify-content: center;
}


.user-navigation a {
  min-height: 45px;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;

}

.user-login a {
  background: url("../img/icons/icon-login.svg") no-repeat;
  background-position: 14px 50%;
  padding-left: 44px;
  padding-right: 27px;
  margin-right: 10px;
  background-color: #ffffff;
}

.user-registration a {
  padding-left: 25px;
  padding-right: 24px;
}

.site-navigation {
  background-color: #32425c;
}

.site-navigation a {
  padding-left: 34px;
  padding-right: 34px;
  line-height: 17px;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
}


.main-header-item:first-child {
  height: 100%;
}

.main-header-item:not(:first-child) {
  width: 150px;
}

.main-header-item-link:hover,
.main-header-item-link:focus {
  background-color: #212a3a;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.main-header-item-link:active {
  background-color: #161d29;
}

.main-header-list a:active {
  color: rgba(255, 255, 255, 0.6);

}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}


.main-header-input {
  color: #ffffff;
  background-color: transparent;
  border: none;
  padding-left: 49px;
  padding-right: 10px;
  height: 42px;
  width: 270px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-left: 48px;
  cursor: pointer;
}

.main-header-input:hover,
.main-header-input:focus {
  background-color: transparent;
}

.main-header-input:focus {
  background-color: #ffffff;
  color: #000000;
  outline: none;
}

.main-header-item-cart {
  background-color: #ee3643;
}

.main-header-item-buy a {
  width: 150px;
  background-color: #63a63e;
}

.main-header-item-buy a:hover,
.main-header-item-buy a:focus {
  background-color: #5fbb2d;
}

.main-header-item-buy a:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
  ;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:active {
  color: #b3b3b3;
}

.about {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 86px;
}

.main-header-text {
  margin: 0;
  margin-top: 49px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  width: 196px;
  margin-left: 53px;
  margin-right: 71px;
}

.main-header-contacts {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
  margin-top: 46px;
}

.main-header-phone {
  padding-left: 19px;
  position: relative;
  width: 245px;
  height: 39px;
  color: #ee3643;
  font-size: 21px;
  border: 3px solid #fff;
}

.main-header-phone::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  left: 12px;
  top: 10px;
  background: url("../img/icons/icon-phone.svg") no-repeat;
}

.main-header-address {
  margin-left: 9px;
  margin-top: 4px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}




/* ШАПКА 2 */
.user-info {
  list-style: none;
}

.user-info a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.main-header-user a {
  color: #000000;
}



/* СТРАНИЦА КАТАЛОГА */
.main-navigation {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.main-navigation-item {
  position: relative;
  margin-right: 40px;
}

.main-navigation-item a {
  text-transform: uppercase;
  line-height: 18px;
  font-size: 13px;
  font-family: 'PT Sans', Arial, sans-serif;
}

.main-navigation-list .catalog-navigation-item-home {
  display: flex;
  width: 14px;
  height: 12px;
  background: url("../img/icons/icon-home.svg") no-repeat 0 0;
}

.main-navigation-item .catalog-navigation-item-home {
  font-size: 0px;
}

.main-navigation-item::before {
  content: "";
  position: absolute;
  left: -25px;
  width: 23px;
  height: 23px;
  top: 3px;
  background: url("../img/icons/icon-right-small.svg") no-repeat 1px 0;
}

.main-navigation-item:first-child::before {
  display: none;
}

.page-title {
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  width: 940px;
  height: 89px;
  background-color: #f2f6f8;
  padding-left: 30px;
  margin-bottom: 20px;
}

.main-list-wrapper {
  margin: 0;
  margin-left: 20px;
}

.main-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  padding-bottom: 31px;
}

.main-item,
.main-goods-item {
  font-weight: bold;
  position: relative;
  display: flex;
  width: 218px;
  margin-bottom: 21px;
  flex-direction: column;
  border: 1px solid #ccc;
  margin-right: 20px;

}

.main-item:nth-child(3n),
.main-goods-item:nth-child(4n) {
  margin-right: 0;
}

.main-item:nth-child(3n) .main-item-name,
.main-goods-item:last-child .main-item-name {
  margin-bottom: 49px;
}

.main-item:nth-child(3)::after,
.main-item:nth-child(5)::after,
.main-item:nth-child(7)::after,
.main-goods-item:last-child::after {
  position: absolute;
  content: "";
  right: -1px;
  top: -1px;
  width: 60px;
  height: 60px;
  background: url(../img/goods/new-flag.png) no-repeat;

}

.main-item-wrapper,
.main-item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-navigation-list,
.main-sort-by,
.main-sorting-list,
.main-sort-direction {
  display: flex;
}

.main-navigation-list {
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 59px;
}

.main-navigation-list a {
  color: #000000;
}

.main-sort-by {
  height: 38px;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-between;
  padding-left: 19px;
  background-color: #f7f3ec;
  margin-bottom: 20px;
}

.main-sort-by ul {
  list-style: none;
}

.main-sorting,
.main-sort-direction,
.main-sorting-list {
  margin: 0;
  padding: 0;

}

.main-sorting-item a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: dotted #ee3643 1px;
}

.main-sorting-item-active a {
  border-bottom: none;
  color: #ee3643;
}


.main-sorting-item a:hover {
  color: #000000;
  border-bottom: solid #ee3643 1px;
}

.main-filters {
  display: flex;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  align-items: center;
  width: 220px;
  height: 38px;
  background-color: #f7f3ec;
  padding-left: 18px;
  box-sizing: border-box;
}

.developers label,
.power label {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 40px;
  margin-left: 29px;
  margin-bottom: 17px;
  padding-left: 10px;
  cursor: pointer;
}

.developers input+label::after {
  content: "";
  position: absolute;
  left: -30px;
  width: 23px;
  height: 23px;
  top: 0;
  background: url("../img/checkbox-off.svg") no-repeat;
}

.developers input:checked+label::after {
  content: "";
  position: absolute;
  left: -30px;
  width: 27px;
  height: 23px;
  top: 0;
  background: url("../img/checkbox-on.svg") no-repeat;
}


.power input+label::before {
  content: "";
  position: absolute;
  left: -30px;
  width: 25px;
  height: 25px;
  top: 0;
  background: url("../img/radio-off.svg") no-repeat;
}

.power input:checked+label::after {
  content: "";
  position: absolute;
  left: -30px;
  width: 25px;
  height: 25px;
  top: 0;
  background: url("../img/radio-on.svg") no-repeat;
}




.power {
  display: flex;
  flex-direction: column;
}

.main-show {
  font-family: 'PT Sans', Arial, sans-serif;
  width: 140px;
  height: 38px;
  line-height: 18px;
  font-size: 13px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  cursor: pointer;
}

.main-item-name {
  padding: 0 20px;
  text-align: center;
  margin: 0;
}

.main-item-name a {
  color: #000000;
}

.main-item-old-price {
  margin-top: 18px;
  margin-bottom: 13px;
  color: #999;
  text-decoration: line-through;
}

.main-item-price {
  position: relative;
  width: 80px;
  margin: 0px auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.main-item-price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.main-item-actions {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
}

.main-item .main-item-actions,
.main-goods-item .main-item-actions {
  display: none;
}

.main-item:hover .main-item-actions,
.main-goods-item:hover .main-item-actions,
.main-item-actions:hover .main-item-actions {
  display: flex;
  width: 218px;
  height: 164px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main-item:hover,
.main-item:focus,
.main-goods-item:hover,
.main-goods-item:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.main-item-buy {
  display: flex;
  width: 135px;
  height: 38px;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.main-item-to-bookmarks {
  display: flex;
  width: 129px;
  height: 32px;
  border: solid 3px #63a63e;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  text-transform: uppercase;
}

.page-buttons {
  display: flex;
  margin-bottom: 60px;
}

.page-buttons ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}


.page-buttons a {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 3px;
  border: solid 1px #e5e5e5;
  margin-right: 10px;
}

.page-buttons-item:first-child a {
  color: #fff;
  background-color: #ee3643;
  border: none;
}

.page-buttons-item:last-child a {
  width: 140px;
}

.about-perforators-background {
  background-color: #f4f7f9;
  padding-top: 67px;
  padding-bottom: 73px;
}

.about-perforators {
  width: 940px;
  margin: 0 auto;
}

.about-perforators h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 25px;
}

.about-perforators p {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
}



.main-services {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 59px;
  margin-bottom: 53px;
}

.main-services-2 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-services-item {
  width: 300px;
  height: 123px;
  background-color: #ffbf47;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}


.main-services-item h4 {
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding-top: 21px;
  padding-left: 23px;

}

.main-services-item-orange::before {
  position: absolute;
  content: "";
  right: 43px;
  top: 31px;
  width: 44px;
  height: 65px;
  background: url("../img/icons/services/icon-materials.svg") no-repeat;
}

.main-services-item-orange::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background: url("../img/goods/new-flag.png") no-repeat;
}

.main-services-item-blue::before {
  position: absolute;
  content: "";
  right: 28px;
  top: 33px;
  width: 75px;
  height: 61px;
  background: url("../img/icons//services/icon-tools.svg") no-repeat;
}

.main-services-item-purple::before {
  position: absolute;
  content: "";
  right: 31px;
  top: 31px;
  width: 78px;
  height: 62px;
  background: url("../img/icons/services/icon-equipment.svg") no-repeat;
}

.main-services-item-green::before {
  position: absolute;
  content: "";
  right: 45px;
  top: 26px;
  width: 59px;
  height: 72px;
  background: url("../img/icons/services/icon-discounts.svg") no-repeat;
}

.main-services-item-orange2::before {
  position: absolute;
  content: "";
  right: 31px;
  top: 32px;
  width: 78px;
  height: 63px;
  background: url("../img/icons/services/icon-delivery.svg") no-repeat;

}


.main-services-item a {
  position: absolute;
  color: #ffffff;
  display: flex;
  width: 135px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 3px;
  bottom: 22px;
  margin-left: 25px;
}

.main-services-item a:not(.slide-button) {
  background-color: rgb(0%, 0%, 0%, 0.1);
}



.main-services-item a:not(.slide-button):hover,
.main-services-item a:not(.slide-button):focus {
  background-color: rgb(0%, 0%, 0%, 0.2);
}

.main-services-item a:not(.slide-button):active {
  background-color: rgb(0%, 0%, 0%, 0.3);
}

.main-services-item-blue {
  background-color: #3bbce3;
}

.main-services-item-purple {
  margin-right: 0;
  background-color: #dc91d8;
}

.main-services-item-green {
  margin-right: 0;
  background-color: #8ed78f;
}

.main-services-item-orange2 {
  margin-right: 0;
  background-color: #ffc047;
  margin-bottom: 0;
}

.main-services-item-slider {
  width: 620px;
  height: 266px;
  margin-bottom: 0;
}


.slider {
  height: 100%;
  transition: background-image 0.5s ease;
}

.slider-item {
  display: none;
  height: 100%;
}

.slider-item p {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  color: #ffffff;
  margin-left: 23px;
}

#product-1:checked~.slider #slide1,
#product-2:checked~.slider #slide2 {
  display: block;
}

#product-1:checked~.slider label[for="product-1"],
#product-2:checked~.slider label[for="product-2"] {
  background-color: red;
  border: -2px solid #fff;
}

#product-1:checked~.slider {
  background-image: url("../img/slider-image.jpg");
  background-color: #857365;
}

#product-2:checked~.slider {
  background-image: url("../img/slider-image2.jpg");
  background-color: #aba195;
}

.slide-title {
  padding-left: 24px;
  padding-top: 23px;
  text-transform: uppercase;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #ffffff;
}

.slider-list {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item .slide-button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  position: absolute;
  bottom: 22px;
}

.slide-button:hover {
  background-color: #ca2c37;
}

.slide-button:active {
  background-color: #ba2732;
}

.slider-controls {
  display: flex;
  position: absolute;
  bottom: 26px;
  left: 295px;
  font-size: 0;
}

.slider-arrows {
  position: absolute;
  width: 575px;
  height: 40px;
  top: 114px;
  left: 25px;
  font-size: 0;
}

.slider-arrows label:nth-child(1)::before {
  cursor: pointer;
  position: absolute;
  content: "";
  width: 22px;
  height: 40px;
  left: 0px;
  top: 0px;
  background: url("../img/icons/icon-left.svg") no-repeat;
}

.slider-arrows label:nth-child(2)::before {
  cursor: pointer;
  position: absolute;
  content: "";
  width: 22px;
  height: 40px;
  right: 0px;
  top: 0px;
  background: url("../img/icons/icon-right.svg") no-repeat;
}

.slider-controls label {
  width: 6px;
  height: 6px;
  margin-right: 10px;
  border: 2px solid #fff;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}



.main-popular h2 {
  text-transform: uppercase;
  font-weight: normal;
  display: flex;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  height: 89px;
  color: #32425c;
  background-color: #f9f5f0;
  align-items: center;
  padding-left: 30px;
  position: relative;
}

.main-popular h2:nth-child(1) {
  margin-bottom: 20px;
}

.main-popular-title a {
  display: flex;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 24px;
  border-radius: 3px;
}

.main-goods-list {
  padding: 0;
  margin: 0;
  display: flex;
}

.main-developers-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.main-developers-list a {
  display: flex;
  width: 220px;
  height: 145px;
  align-items: center;
  justify-content: center;
}

.main-developers-list a:hover,
.main-developers-list a:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.main-developers-list a:active {
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.main-developers-list li {
  width: 218px;
  height: 145px;
  border: solid 1px #eaeaea;
  margin-top: 20px;
}

.main-developers-list li:not(:nth-child(4n)) {
  margin-right: 20px;
}

.main-developers-list li:last-child {
  margin-bottom: 85px;
}

/* СЛАЙДЕР СЕРВИСЫ */
.services-wrapper {
  min-height: 390px;
  background-color: #f4f7f9;
  padding-top: 65px;
  padding-bottom: 65px;
}



.services-info {
  margin: 0 auto;
  width: 940px;

}

.services-info h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.services-info p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  width: 400px;
  margin: 0;
  margin-bottom: 70px;
}

.services-controls {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.services-controls::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 279px;
  left: 230px;
  top: -48px;
  background: url("../img/service-shadow.png") no-repeat;

}

.services-slider {
  position: relative;
  display: flex;
}

.services-info-list {
  width: 700px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 79px;
  margin-top: -2px;
}

.services-info-item p {
  margin: 0;
  width: 275px;
}

.services-info-item a {
  font-size: 14px;
  line-height: 18px;
  display: flex;
  width: 195px;
  height: 38px;
  background-color: #ff5357;
  border-radius: 3px;
  color: #ffffff;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.service-button {
  display: flex;
  width: 217px;
  min-height: 61px;
  background-color: #32425c;
  align-items: center;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  padding-left: 23px;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}

.service-title {
  text-transform: uppercase;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  margin-bottom: 24px;
}

.services-info-item {
  display: none;
  height: 100%;
}

#delivery:checked~.services-slider #service1,
#garantee:checked~.services-slider #service2,
#credit:checked~.services-slider #service3 {
  display: flex;
  flex-direction: column;
}

#delivery:checked~.services-slider label[for="delivery"],
#garantee:checked~.services-slider label[for="garantee"],
#credit:checked~.services-slider label[for="credit"] {
  background-color: #ffffff;
  color: #32425c;
  box-shadow: none;
}

#delivery:checked~.services-slider {
  background: url("../img/delivery.png") no-repeat;
  background-position: 471px 22px;
}

#garantee:checked~.services-slider {
  background: url("../img/guarantee.png") no-repeat;
  background-position: 100% 0;
}

#credit:checked~.services-slider {
  background: url("../img/credit.png") no-repeat;
  background-position: 100% 0;
}



/* ФИЛЬТР */

/* ЦЕНА НАЧАЛО */
.range-filter {
  width: 220px;
  margin-top: 21px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.bar {
  margin-left: 20%;
  width: 30%
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  display: flex;
  font-size: 0;
}

.price-controls label {
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

/* ЦЕНА КОНЕЦ */
/* ПОДВАЛ */

.main-footer-wrapper {
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.main-footer-blue .main-footer-wrapper:first-child {
  margin-bottom: 36px;
}

.main-footer {
  display: flex;
  flex-direction: column;
}

.main-footer ul {
  display: flex;
}

.main-footer-wrapper a {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.main-footer-categories-item a {
  color: #ffda96;
}

.main-footer-blue {
  background-color: #32425c;
  min-height: 193px;
}

.main-footer-darkblue {
  background-color: #293449;
  padding-bottom: 30px;
}

.main-footer-darkblue .main-footer-wrapper {
  margin-top: 35px;
  justify-content: flex-start;
}

.main-footer-navigation-list {
  margin-top: 38px;
}

.main-footer-navigation-list a:hover {
  text-decoration: underline;
}

.main-footer-categories-list a:hover {
  text-decoration: underline;
}

.main-footer-navigation-item,
.main-footer-categories-item {
  margin-right: 60px;
}

.main-footer-navigation-item:last-child,
.main-footer-categories-item:last-child {
  margin-right: 0;
}

.about-title {
  margin: 0;
  margin-bottom: 26px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.about-wrapper-long .about-text {
  width: auto;
}

.about-text {
  width: 200px;
  margin: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
}

.about-wrapper-long .about-text:nth-child(2) {
  margin-bottom: 25px;
}

.about-wrapper-long .about-text:nth-child(3) {
  width: 390px;
  margin-bottom: 20px;
}

.about-wrapper .about-text {
  margin-bottom: 31px;
}

.about-map {
  margin-bottom: 36px;
}

.about-wrapper-long {
  margin-right: 120px;
}

.about-list {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 36px;
}

.about-item {
  position: relative;
  margin-bottom: 20px;
}

.about-item::before {
  position: absolute;
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  left: -36px;
  top: 8px;
}

.about-link {
  display: flex;
  width: 300px;
  height: 38px;
  color: #ffffff;
  background-color: #ee3643;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
}

.about-wrapper-long .about-link {
  width: 220px;
}

.main-logo,
.main-footer-logo {
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  min-width: 220px;
  height: 42px;
}



.main-footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
}

.main-footer-contacts {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  width: 325px;
  color: #f3f7f9;
}

.author-rights {
  font-size: 16px;
  line-height: 18px;
  margin-right: 161px;
}

.author-rights p {
  margin: 0;
}

.main-footer-social-list {
  display: flex;
  margin-right: 114px;
}

.main-footer-social-item-vk a {
  background: url("../img/icons/socials/icon-vk.svg") no-repeat;
  width: 26px;
  height: 15px;
}

.main-footer-social-item-fb a {
  background: url("../img/icons/socials/icon-fb.svg") no-repeat;
  width: 12px;
  height: 22px;

}

.main-footer-social-item-insta a {
  background: url("../img/icons/socials/icon-insta.svg") no-repeat;
  width: 21px;
  height: 21px;
}

.main-footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;

}

.main-footer-social-item:not(:last-child) {
  margin-right: 3px;
}

.main-footer-social-item a {
  font-size: 0;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  background-position: center;
  border-radius: 50%;
}

.main-footer-social-item a:hover,
.main-footer-social-item a:focus {
  background-color: #ee3643
}

.main-footer-communication {
  font-size: 16px;
  line-height: 18px;
}

.main-footer-communication {
  display: flex;
}

.main-footer-developers,
.main-footer-feedback {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-footer-feedback {
  margin-right: 42px
}

.main-footer-communication a {
  color: #ffd180;
}

.main-footer-communication a:hover,
.main-footer-communication a:focus {
  text-decoration: underline;
}

.main-footer-communication a:active {
  color: #ee3643;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 620px;
  min-height: 430px;
  border-top: 7px solid #ee3643;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 40%;
  left: calc(50% - 310px);
  background-color: #ffffff;
}

.popup-hidden {
  display: none;
}

.form-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 318px;
  margin-top: 55px;
}

.form-filter {
  margin-right: 20px;
  text-transform: uppercase;
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 220px;
}

.form-label {
  line-height: 18px;
  font-size: 18px;
  margin-bottom: 13px;
}

.form-item:first-child {
  margin-right: 20px;
  margin-bottom: 22px;
}

.form-item-long {
  min-width: 460px;
}

.form-textarea {
  resize: none;
}

.form-submit {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 460px;
  height: 38px;
  background-color: #ee3643;
  border: none;
  cursor: pointer;
}

.form-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 620px;
  height: 112px;
  background-color: #f4f4f4;
}

.form-close {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 1px;
  right: -1px;
}

.close {
  z-index: 10;
  position: absolute;
  top: 0%;
  right: 0%;
  cursor: pointer;
}

.added-to-cart-hidden {
  display: none;
}

.added-to-cart {
  position: fixed;
  top: 20%;
  left: calc(50% - 310px);
  justify-content: center;
  width: 620px;
  height: 282px;
  background-color: white;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
  border-top: 7px solid #ee3643;
}

.good-added {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 170px;
  width: 620px;

}

.added-to-cart-list {
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  background-color: #f1f1f1;
  height: 112px;
  width: auto;
}

.added-to-cart-item a {
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 38px;
  background-color: #fff;
  border-radius: 3px;
}

.added-to-cart-item-red a {
  margin-right: 20px;
  color: #fff;
  background-color: #ee3643;
}


.good-added::before {
  position: absolute;
  content: "";
  left: 81px;
  top: 55px;
  ;
  width: 66px;
  height: 66px;
  background: url("../img/icon-added-to-card.png") no-repeat;
}

.map-block {
  position: fixed;
  display: flex;
  width: 940px;
  height: 446px;
  top: 30%;
  left: calc(50% - 470px);
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.map-block-map {
  border: none;
}

.map-block-hidden {
  display: none;
}

.map-block iframe {
  width: 100%;
}

.map-close {
  position: absolute;
  right: 0;
  top: 0;
}
